-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: nasi_bergizi_pajak
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `budget`
--

DROP TABLE IF EXISTS `budget`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `budget` (
  `budget_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `period_start` date NOT NULL,
  `period_end` date NOT NULL,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  PRIMARY KEY (`budget_id`),
  KEY `idx_budget_user_id` (`user_id`),
  CONSTRAINT `fk_budget_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_budget_amount` CHECK ((`amount` >= 0)),
  CONSTRAINT `chk_budget_period` CHECK ((`period_end` >= `period_start`))
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `budget`
--

LOCK TABLES `budget` WRITE;
/*!40000 ALTER TABLE `budget` DISABLE KEYS */;
/*!40000 ALTER TABLE `budget` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `family_member`
--

DROP TABLE IF EXISTS `family_member`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `family_member` (
  `member_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `birth_date` date DEFAULT NULL,
  `height` double DEFAULT NULL,
  `weight` double DEFAULT NULL,
  `allergy` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`member_id`),
  KEY `idx_family_member_user_id` (`user_id`),
  CONSTRAINT `fk_fm_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `family_member`
--

LOCK TABLES `family_member` WRITE;
/*!40000 ALTER TABLE `family_member` DISABLE KEYS */;
/*!40000 ALTER TABLE `family_member` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ingredient`
--

DROP TABLE IF EXISTS `ingredient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ingredient` (
  `ingredient_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `unit` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`ingredient_id`),
  UNIQUE KEY `uq_ingredient_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingredient`
--

LOCK TABLES `ingredient` WRITE;
/*!40000 ALTER TABLE `ingredient` DISABLE KEYS */;
INSERT INTO `ingredient` VALUES (1,'Beras','ml'),(2,'Telur','kg'),(3,'Ayam','kg'),(4,'Bayam','liter'),(5,'Wortel','kg'),(6,'Bawang Merah','ml'),(7,'Bawang Putih','gram'),(8,'Minyak Goreng','gram'),(9,'Susu','liter'),(10,'Tempe','ml'),(11,'Tahu','gram'),(12,'Cabai','pcs'),(13,'Garam','ml'),(14,'Gula','ml'),(15,'Tomat','liter'),(16,'Air Kosong','ml');
/*!40000 ALTER TABLE `ingredient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ingredient_nutrition`
--

DROP TABLE IF EXISTS `ingredient_nutrition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ingredient_nutrition` (
  `nutrition_id` int NOT NULL AUTO_INCREMENT,
  `ingredient_id` int NOT NULL,
  `calories` decimal(10,2) NOT NULL DEFAULT '0.00',
  `protein` decimal(10,2) NOT NULL DEFAULT '0.00',
  `carbohydrate` decimal(10,2) NOT NULL DEFAULT '0.00',
  `fat` decimal(10,2) NOT NULL DEFAULT '0.00',
  `fibre` decimal(10,2) NOT NULL DEFAULT '0.00',
  `unit` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`nutrition_id`),
  UNIQUE KEY `uq_nutrition_ingredient` (`ingredient_id`),
  CONSTRAINT `fk_in_ingredient` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredient` (`ingredient_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_in_calories` CHECK ((`calories` >= 0)),
  CONSTRAINT `chk_in_carbohydrate` CHECK ((`carbohydrate` >= 0)),
  CONSTRAINT `chk_in_fat` CHECK ((`fat` >= 0)),
  CONSTRAINT `chk_in_fibre` CHECK ((`fibre` >= 0)),
  CONSTRAINT `chk_in_protein` CHECK ((`protein` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingredient_nutrition`
--

LOCK TABLES `ingredient_nutrition` WRITE;
/*!40000 ALTER TABLE `ingredient_nutrition` DISABLE KEYS */;
/*!40000 ALTER TABLE `ingredient_nutrition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ingredient_price`
--

DROP TABLE IF EXISTS `ingredient_price`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ingredient_price` (
  `price_id` int NOT NULL AUTO_INCREMENT,
  `ingredient_id` int NOT NULL,
  `price` decimal(15,2) NOT NULL,
  `effective_date` date NOT NULL,
  PRIMARY KEY (`price_id`),
  KEY `idx_ingredient_price_ingredient_id` (`ingredient_id`),
  CONSTRAINT `fk_ip_ingredient` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredient` (`ingredient_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_ip_price` CHECK ((`price` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingredient_price`
--

LOCK TABLES `ingredient_price` WRITE;
/*!40000 ALTER TABLE `ingredient_price` DISABLE KEYS */;
/*!40000 ALTER TABLE `ingredient_price` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kitchen_stock`
--

DROP TABLE IF EXISTS `kitchen_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kitchen_stock` (
  `stock_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `ingredient_id` int NOT NULL,
  `quantity` double NOT NULL DEFAULT '0',
  `unit` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `storage_location` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  PRIMARY KEY (`stock_id`),
  KEY `idx_kitchen_stock_user_id` (`user_id`),
  KEY `idx_kitchen_stock_ingredient_id` (`ingredient_id`),
  CONSTRAINT `fk_ks_ingredient` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredient` (`ingredient_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_ks_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_ks_quantity` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kitchen_stock`
--

LOCK TABLES `kitchen_stock` WRITE;
/*!40000 ALTER TABLE `kitchen_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `kitchen_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meal_slot`
--

DROP TABLE IF EXISTS `meal_slot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `meal_slot` (
  `slot_id` int NOT NULL AUTO_INCREMENT,
  `menu_id` int NOT NULL,
  `recipe_id` int NOT NULL,
  `meal_date` date NOT NULL,
  `meal_time` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_eating_out` tinyint(1) NOT NULL DEFAULT '0',
  `outside_cost` decimal(15,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`slot_id`),
  KEY `idx_meal_slot_menu_id` (`menu_id`),
  KEY `idx_meal_slot_recipe_id` (`recipe_id`),
  CONSTRAINT `fk_ms_menu` FOREIGN KEY (`menu_id`) REFERENCES `weekly_menu` (`menu_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_ms_recipe` FOREIGN KEY (`recipe_id`) REFERENCES `recipe` (`recipe_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_ms_is_eating_out` CHECK ((`is_eating_out` in (0,1))),
  CONSTRAINT `chk_ms_outside_cost` CHECK ((`outside_cost` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meal_slot`
--

LOCK TABLES `meal_slot` WRITE;
/*!40000 ALTER TABLE `meal_slot` DISABLE KEYS */;
/*!40000 ALTER TABLE `meal_slot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parameter_planner`
--

DROP TABLE IF EXISTS `parameter_planner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parameter_planner` (
  `parameter_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `budget_id` int NOT NULL,
  `shopping_period_start` date NOT NULL,
  `shopping_period_end` date NOT NULL,
  `meals_per_day` int NOT NULL,
  `snack_per_day` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`parameter_id`),
  KEY `idx_parameter_user_id` (`user_id`),
  KEY `idx_parameter_budget_id` (`budget_id`),
  CONSTRAINT `fk_pp_budget` FOREIGN KEY (`budget_id`) REFERENCES `budget` (`budget_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_pp_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_pp_meals_per_day` CHECK ((`meals_per_day` > 0)),
  CONSTRAINT `chk_pp_period` CHECK ((`shopping_period_end` >= `shopping_period_start`)),
  CONSTRAINT `chk_pp_snack_per_day` CHECK ((`snack_per_day` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parameter_planner`
--

LOCK TABLES `parameter_planner` WRITE;
/*!40000 ALTER TABLE `parameter_planner` DISABLE KEYS */;
INSERT INTO `parameter_planner` VALUES (1,1,1,'2026-05-04','2026-05-11',3,1),(2,2,2,'2026-04-21','2026-04-28',5,0),(3,3,3,'2026-04-23','2026-04-30',3,1),(4,4,4,'2026-05-02','2026-05-09',2,2),(5,5,5,'2026-04-26','2026-05-03',2,0),(6,6,6,'2026-04-30','2026-05-07',5,2),(7,7,7,'2026-05-04','2026-05-11',4,0),(8,8,8,'2026-04-28','2026-05-05',1,2),(9,9,9,'2026-04-23','2026-04-30',3,1),(10,10,10,'2026-04-30','2026-05-07',1,1);
/*!40000 ALTER TABLE `parameter_planner` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipe`
--

DROP TABLE IF EXISTS `recipe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recipe` (
  `recipe_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `serving_size` int NOT NULL DEFAULT '1',
  `status` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  PRIMARY KEY (`recipe_id`),
  UNIQUE KEY `uq_recipe_name` (`name`),
  CONSTRAINT `chk_recipe_serving_size` CHECK ((`serving_size` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipe`
--

LOCK TABLES `recipe` WRITE;
/*!40000 ALTER TABLE `recipe` DISABLE KEYS */;
/*!40000 ALTER TABLE `recipe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipe_ingredient`
--

DROP TABLE IF EXISTS `recipe_ingredient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recipe_ingredient` (
  `recipe_ingredient_id` int NOT NULL AUTO_INCREMENT,
  `recipe_id` int NOT NULL,
  `ingredient_id` int NOT NULL,
  `amount` double NOT NULL,
  `unit` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`recipe_ingredient_id`),
  UNIQUE KEY `uq_ri_recipe_ingredient` (`recipe_id`,`ingredient_id`),
  KEY `idx_recipe_ingredient_recipe_id` (`recipe_id`),
  KEY `idx_recipe_ingredient_ingredient_id` (`ingredient_id`),
  CONSTRAINT `fk_ri_ingredient` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredient` (`ingredient_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_ri_recipe` FOREIGN KEY (`recipe_id`) REFERENCES `recipe` (`recipe_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_ri_amount` CHECK ((`amount` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipe_ingredient`
--

LOCK TABLES `recipe_ingredient` WRITE;
/*!40000 ALTER TABLE `recipe_ingredient` DISABLE KEYS */;
/*!40000 ALTER TABLE `recipe_ingredient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shopping_planner`
--

DROP TABLE IF EXISTS `shopping_planner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shopping_planner` (
  `planner_id` int NOT NULL AUTO_INCREMENT,
  `menu_id` int NOT NULL,
  `created_datetime` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `total_estimation` decimal(15,2) NOT NULL DEFAULT '0.00',
  `total_actual` decimal(15,2) NOT NULL DEFAULT '0.00',
  `status` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft',
  PRIMARY KEY (`planner_id`),
  KEY `idx_shopping_planner_menu_id` (`menu_id`),
  CONSTRAINT `fk_sp_menu` FOREIGN KEY (`menu_id`) REFERENCES `weekly_menu` (`menu_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_sp_total_actual` CHECK ((`total_actual` >= 0)),
  CONSTRAINT `chk_sp_total_estimation` CHECK ((`total_estimation` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shopping_planner`
--

LOCK TABLES `shopping_planner` WRITE;
/*!40000 ALTER TABLE `shopping_planner` DISABLE KEYS */;
/*!40000 ALTER TABLE `shopping_planner` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shopping_planner_item`
--

DROP TABLE IF EXISTS `shopping_planner_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shopping_planner_item` (
  `item_id` int NOT NULL AUTO_INCREMENT,
  `planner_id` int NOT NULL,
  `ingredient_id` int NOT NULL,
  `required_qty` double NOT NULL,
  `unit` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estimated_price` decimal(15,2) NOT NULL DEFAULT '0.00',
  `actual_price` decimal(15,2) NOT NULL DEFAULT '0.00',
  `status_beli` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'belum',
  PRIMARY KEY (`item_id`),
  UNIQUE KEY `uq_spi_planner_ingredient` (`planner_id`,`ingredient_id`),
  KEY `idx_shopping_item_planner_id` (`planner_id`),
  KEY `idx_shopping_item_ingredient_id` (`ingredient_id`),
  CONSTRAINT `fk_spi_ingredient` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredient` (`ingredient_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_spi_planner` FOREIGN KEY (`planner_id`) REFERENCES `shopping_planner` (`planner_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_spi_actual_price` CHECK ((`actual_price` >= 0)),
  CONSTRAINT `chk_spi_estimated_price` CHECK ((`estimated_price` >= 0)),
  CONSTRAINT `chk_spi_required_qty` CHECK ((`required_qty` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shopping_planner_item`
--

LOCK TABLES `shopping_planner_item` WRITE;
/*!40000 ALTER TABLE `shopping_planner_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `shopping_planner_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_account`
--

DROP TABLE IF EXISTS `user_account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_account` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `signup_datetime` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `profile_image_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipe_admin` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `uq_user_email` (`email`),
  CONSTRAINT `chk_user_active` CHECK ((`active` in (0,1))),
  CONSTRAINT `chk_user_tipe_admin` CHECK ((`tipe_admin` in (0,1)))
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_account`
--

LOCK TABLES `user_account` WRITE;
/*!40000 ALTER TABLE `user_account` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_account` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `weekly_menu`
--

DROP TABLE IF EXISTS `weekly_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `weekly_menu` (
  `menu_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `parameter_id` int NOT NULL,
  `week_start_date` date NOT NULL,
  `week_end_date` date NOT NULL,
  `total_estimation` decimal(15,2) NOT NULL DEFAULT '0.00',
  `status_budget` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft',
  `created_datetime` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`menu_id`),
  KEY `idx_weekly_menu_user_id` (`user_id`),
  KEY `idx_weekly_menu_parameter_id` (`parameter_id`),
  CONSTRAINT `fk_wm_parameter` FOREIGN KEY (`parameter_id`) REFERENCES `parameter_planner` (`parameter_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_wm_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_wm_total_estimation` CHECK ((`total_estimation` >= 0)),
  CONSTRAINT `chk_wm_week_dates` CHECK ((`week_end_date` >= `week_start_date`))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `weekly_menu`
--

LOCK TABLES `weekly_menu` WRITE;
/*!40000 ALTER TABLE `weekly_menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `weekly_menu` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-10  1:03:43
